.popup__close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .popup__close {
    top: -25px;
    right: -25px;
    width: 30px;
    height: 30px;
  }
}